In [1]:
import pandas as pd
import numpy as np

In [2]:
df_sucio = pd.read_csv('salarios_medios_por_tipo_de_jornada,_grupo_de_edad_y_decil.csv', encoding = 'latin1', sep = ';')

In [3]:
df_sucio['Total'] = df_sucio['Total'].map(lambda x : x.replace('.', ''))

In [4]:
df_sucio['Total'] = df_sucio['Total'].map(lambda x : x.replace(',', '.'))

In [5]:
df_sucio['Total'] = df_sucio['Total'].astype(float)

In [6]:
años = [2008, 2020]

In [7]:
df_sucio = df_sucio[df_sucio['Periodo'].isin(años)]

In [8]:
df_sucio

              Tipo de jornada    Grupo de edad        Decil  Periodo    Total
0   Jornada a tiempo completo  De 16 a 24 años  Total decil     2020  1532.90
12  Jornada a tiempo completo  De 16 a 24 años  Total decil     2008  1351.02
15  Jornada a tiempo completo  De 25 a 34 años  Total decil     2020  1908.85
27  Jornada a tiempo completo  De 25 a 34 años  Total decil     2008  1730.38
30   Jornada a tiempo parcial  De 16 a 24 años  Total decil     2020   642.73
42   Jornada a tiempo parcial  De 16 a 24 años  Total decil     2008   625.34
45   Jornada a tiempo parcial  De 25 a 34 años  Total decil     2020   775.70
57   Jornada a tiempo parcial  De 25 a 34 años  Total decil     2008   705.45

In [9]:
df_sucio = df_sucio.groupby(by = ['Tipo de jornada', 'Periodo'], as_index = False).median()

In [10]:
df_sucio

             Tipo de jornada  Periodo     Total
0  Jornada a tiempo completo     2008  1540.700
1  Jornada a tiempo completo     2020  1720.875
2   Jornada a tiempo parcial     2008   665.395
3   Jornada a tiempo parcial     2020   709.215

In [11]:
df_tiempo_completo = df_sucio[0:2]
df_tiempo_completo

             Tipo de jornada  Periodo     Total
0  Jornada a tiempo completo     2008  1540.700
1  Jornada a tiempo completo     2020  1720.875

In [12]:
df_tiempo_completo['Porcentajes'] = df_tiempo_completo['Total'].map(lambda x: (x * 100 / 1540.700) - 100)

C:\Users\anabe\AppData\Local\Temp/ipykernel_5476/892922014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tiempo_completo['Porcentajes'] = df_tiempo_completo['Total'].map(lambda x: (x * 100 / 1540.700) - 100)

In [13]:
df_tiempo_completo

             Tipo de jornada  Periodo     Total  Porcentajes
0  Jornada a tiempo completo     2008  1540.700      0.00000
1  Jornada a tiempo completo     2020  1720.875     11.69436

In [14]:
df_tiempo_parcial = df_sucio[2:4]
df_tiempo_parcial

            Tipo de jornada  Periodo    Total
2  Jornada a tiempo parcial     2008  665.395
3  Jornada a tiempo parcial     2020  709.215

In [15]:
df_tiempo_parcial['Porcentajes'] = df_tiempo_parcial['Total'].map(lambda x: 100 - (x * 100 / 709.215))

C:\Users\anabe\AppData\Local\Temp/ipykernel_5476/3912974246.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tiempo_parcial['Porcentajes'] = df_tiempo_parcial['Total'].map(lambda x: 100 - (x * 100 / 709.215))

In [16]:
df_tiempo_parcial

            Tipo de jornada  Periodo    Total  Porcentajes
2  Jornada a tiempo parcial     2008  665.395     6.178662
3  Jornada a tiempo parcial     2020  709.215     0.000000

In [17]:
df_total_incremento = pd.concat([df_tiempo_completo, df_tiempo_parcial])
df_total_incremento

             Tipo de jornada  Periodo     Total  Porcentajes
0  Jornada a tiempo completo     2008  1540.700     0.000000
1  Jornada a tiempo completo     2020  1720.875    11.694360
2   Jornada a tiempo parcial     2008   665.395     6.178662
3   Jornada a tiempo parcial     2020   709.215     0.000000

In [18]:
df_total_incremento.to_csv('salarios_medios_por_tipo_de_jornada,_grupo_de_edad_y_decil_limpio.csv', index=False)