In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.float_format = '{:.2f}'.format

In [3]:
df_sucio = pd.read_csv('indices_nacionales_general_y_de_grupos_ECOICOP.csv', encoding = 'latin1', sep = ';')

In [4]:
df_sucio

     Grupos ECOICOP Tipo de dato  Periodo    Total
0    Índice general       Índice  2022M04  107,375
1    Índice general       Índice  2022M03  107,566
2    Índice general       Índice  2022M02  104,403
3    Índice general       Índice  2022M01  103,567
4    Índice general       Índice  2021M12  103,965
..              ...          ...      ...      ...
167  Índice general       Índice  2008M05   86,985
168  Índice general       Índice  2008M04   86,402
169  Índice general       Índice  2008M03   85,482
170  Índice general       Índice  2008M02   84,730
171  Índice general       Índice  2008M01   84,598

[172 rows x 4 columns]

In [5]:
periodos = ['2008M01', '2020M12']

In [6]:
df_sucio = df_sucio[df_sucio['Periodo'].isin(periodos)]

In [7]:
df_sucio

     Grupos ECOICOP Tipo de dato  Periodo   Total
16   Índice general       Índice  2020M12  97,574
171  Índice general       Índice  2008M01  84,598

In [8]:
df_sucio['Total'] = df_sucio['Total'].map(lambda x: x.replace(",", ".")).astype(float)

C:\Users\anabe\AppData\Local\Temp/ipykernel_10544/3861200797.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Total'] = df_sucio['Total'].map(lambda x: x.replace(",", ".")).astype(float)

In [9]:
df_sucio

     Grupos ECOICOP Tipo de dato  Periodo  Total
16   Índice general       Índice  2020M12  97.57
171  Índice general       Índice  2008M01  84.60

In [10]:
df_sucio['Porcentajes'] = df_sucio['Total'].map(lambda x: (x * 100 / 84.598)-100)

C:\Users\anabe\AppData\Local\Temp/ipykernel_10544/2308257128.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Porcentajes'] = df_sucio['Total'].map(lambda x: (x * 100 / 84.598)-100)

In [11]:
df_sucio

     Grupos ECOICOP Tipo de dato  Periodo  Total  Porcentajes
16   Índice general       Índice  2020M12  97.57        15.34
171  Índice general       Índice  2008M01  84.60        -0.00

In [12]:
df_sucio.to_csv('indices_nacionales_general_y_de_grupos_ECOICOP_limpio.csv', index = False)