In [1]:
import pandas as pd
import numpy as np

In [2]:
df_sucio = pd.read_csv('mujeres_con_estudios_superiores_segun_el_numero_de_hijos_y_campo_de_esos_estudios.csv', encoding = 'latin1', sep = ';')

In [3]:
df_sucio

  Campo de estudios Número de hijos  Total
0             Total       Sin hijos  46,68
1             Total       Con hijos  53,32
2             Total          1 hijo  20,49
3             Total         2 hijos  26,31
4             Total   3 y más hijos   6,52