In [1]:
import pandas as pd
import numpy as np

In [5]:
pd.set_option("display.max_rows", None)

In [3]:
df_sucio = pd.read_csv('poblacion_por_relacion_de_parentesco_con_la_persona_de_referencia,_sexo_y_grupo_de_edad.csv', encoding = 'latin1', sep=';')

In [8]:
df_sucio

,Sexo,Edad,Parentesco con la persona de referencia,Periodo,Total
0,Hombres,De 16 a 19 años,Hijo/a,2021,"965,3"
1,Hombres,De 16 a 19 años,Hijo/a,2020,"946,6"
2,Hombres,De 16 a 19 años,Hijo/a,2019,"923,4"
3,Hombres,De 16 a 19 años,Hijo/a,2018,"891,2"
4,Hombres,De 16 a 19 años,Hijo/a,2017,"870,9"
5,Hombres,De 16 a 19 años,Hijo/a,2016,"857,6"
6,Hombres,De 16 a 19 años,Hijo/a,2015,"838,1"
7,Hombres,De 16 a 19 años,Hijo/a,2014,"827,2"
8,Hombres,De 16 a 19 años,Hijo/a,2013,"839,7"
9,Hombres,De 16 a 19 años,Hijo/a,2012,"859,4"
10,Hombres,De 16 a 19 años,Hijo/a,2011,"876,5"
11,Hombres,De 16 a 19 años,Hijo/a,2010,"886,5"
12,Hombres,De 16 a 19 años,Hijo/a,2009,"892,1"
13,Hombres,De 16 a 19 años,Hijo/a,2008,"896,3"
14,Hombres,De 16 a 19 años,Hijo/a,2007,"889,8"
15,Hombres,De 16 a 19 años,Hijo/a,2006,"888,6"
16,Hombres,De 20 a 24 años,Hijo/a,2021,"1.104,5"
17,Hombres,De 20 a 24 años,Hijo/a,2020,"1.065,4"
18,Hombres,De 20 a 24 años,Hijo/a,2019,"1.021,6"
19,Hombres,De 20 a 24 años,Hijo/a,2018,"1.004,3"
20,Hombres,De 20 a 24 años,Hijo/a,2017,"996,7"
21,Hombres,De 20 a 24 años,Hijo/a,2016,"1.001,0"
22,Hombres,De 20 a 24 años,Hijo/a,2015,"1.012,4"
23,Hombres,De 20 a 24 años,Hijo/a,2014,"1.028,0"
24,Hombres,De 20 a 24 años,Hijo/a,2013,"1.056,8"
25,Hombres,De 20 a 24 años,Hijo/a,2012,"1.069,0"
26,Hombres,De 20 a 24 años,Hijo/a,2011,"1.096,0"
27,Hombres,De 20 a 24 años,Hijo/a,2010,"1.103,6"
28,Hombres,De 20 a 24 años,Hijo/a,2009,"1.131,4"
29,Hombres,De 20 a 24 años,Hijo/a,2008,"1.164,5"
30,Hombres,De 20 a 24 años,Hijo/a,2007,"1.178,6"
31,Hombres,De 20 a 24 años,Hijo/a,2006,"1.212,0"
32,Hombres,De 25 a 29 años,Hijo/a,2021,"833,8"
33,Hombres,De 25 a 29 años,Hijo/a,2020,"821,0"
34,Hombres,De 25 a 29 años,Hijo/a,2019,"774,3"
35,Hombres,De 25 a 29 años,Hijo/a,2018,"754,5"
36,Hombres,De 25 a 29 años,Hijo/a,2017,"754,7"
37,Hombres,De 25 a 29 años,Hijo/a,2016,"761,3"
38,Hombres,De 25 a 29 años,Hijo/a,2015,"774,2"
39,Hombres,De 25 a 29 años,Hijo/a,2014,"767,4"
40,Hombres,De 25 a 29 años,Hijo/a,2013,"789,2"
41,Hombres,De 25 a 29 años,Hijo/a,2012,"830,2"
42,Hombres,De 25 a 29 años,Hijo/a,2011,"858,9"
43,Hombres,De 25 a 29 años,Hijo/a,2010,"918,6"
44,Hombres,De 25 a 29 años,Hijo/a,2009,"952,7"
45,Hombres,De 25 a 29 años,Hijo/a,2008,"998,6"
46,Hombres,De 25 a 29 años,Hijo/a,2007,"1.036,7"
47,Hombres,De 25 a 29 años,Hijo/a,2006,"1.112,9"
48,Hombres,De 30 a 34 años,Hijo/a,2021,"438,2"
49,Hombres,De 30 a 34 años,Hijo/a,2020,"440,5"
50,Hombres,De 30 a 34 años,Hijo/a,2019,"436,4"
51,Hombres,De 30 a 34 años,Hijo/a,2018,"428,6"
52,Hombres,De 30 a 34 años,Hijo/a,2017,"426,4"
53,Hombres,De 30 a 34 años,Hijo/a,2016,"432,7"
54,Hombres,De 30 a 34 años,Hijo/a,2015,"440,2"
55,Hombres,De 30 a 34 años,Hijo/a,2014,"448,9"
56,Hombres,De 30 a 34 años,Hijo/a,2013,"479,5"
57,Hombres,De 30 a 34 años,Hijo/a,2012,"514,1"
58,Hombres,De 30 a 34 años,Hijo/a,2011,"503,2"
59,Hombres,De 30 a 34 años,Hijo/a,2010,"494,0"
60,Hombres,De 30 a 34 años,Hijo/a,2009,"517,9"
61,Hombres,De 30 a 34 años,Hijo/a,2008,"532,7"
62,Hombres,De 30 a 34 años,Hijo/a,2007,"533,0"
63,Hombres,De 30 a 34 años,Hijo/a,2006,"530,1"
64,Mujeres,De 16 a 19 años,Hijo/a,2021,"907,7"
65,Mujeres,De 16 a 19 años,Hijo/a,2020,"880,2"
66,Mujeres,De 16 a 19 años,Hijo/a,2019,"857,8"
67,Mujeres,De 16 a 19 años,Hijo/a,2018,"832,9"
68,Mujeres,De 16 a 19 años,Hijo/a,2017,"814,8"
69,Mujeres,De 16 a 19 años,Hijo/a,2016,"793,1"
70,Mujeres,De 16 a 19 años,Hijo/a,2015,"782,1"
71,Mujeres,De 16 a 19 años,Hijo/a,2014,"782,2"
72,Mujeres,De 16 a 19 años,Hijo/a,2013,"785,5"
73,Mujeres,De 16 a 19 años,Hijo/a,2012,"797,1"
74,Mujeres,De 16 a 19 años,Hijo/a,2011,"811,0"
75,Mujeres,De 16 a 19 años,Hijo/a,2010,"821,4"
76,Mujeres,De 16 a 19 años,Hijo/a,2009,"833,6"
77,Mujeres,De 16 a 19 años,Hijo/a,2008,"824,6"
78,Mujeres,De 16 a 19 años,Hijo/a,2007,"820,1"
79,Mujeres,De 16 a 19 años,Hijo/a,2006,"830,3"
80,Mujeres,De 20 a 24 años,Hijo/a,2021,"1.014,7"
81,Mujeres,De 20 a 24 años,Hijo/a,2020,"975,8"
82,Mujeres,De 20 a 24 años,Hijo/a,2019,"927,9"
83,Mujeres,De 20 a 24 años,Hijo/a,2018,"906,2"
84,Mujeres,De 20 a 24 años,Hijo/a,2017,"904,7"
85,Mujeres,De 20 a 24 años,Hijo/a,2016,"901,7"
86,Mujeres,De 20 a 24 años,Hijo/a,2015,"906,7"
87,Mujeres,De 20 a 24 años,Hijo/a,2014,"916,3"
88,Mujeres,De 20 a 24 años,Hijo/a,2013,"929,9"
89,Mujeres,De 20 a 24 años,Hijo/a,2012,"940,2"
90,Mujeres,De 20 a 24 años,Hijo/a,2011,"942,3"
91,Mujeres,De 20 a 24 años,Hijo/a,2010,"955,3"
92,Mujeres,De 20 a 24 años,Hijo/a,2009,"988,4"
93,Mujeres,De 20 a 24 años,Hijo/a,2008,"1.001,7"
94,Mujeres,De 20 a 24 años,Hijo/a,2007,"1.016,0"
95,Mujeres,De 20 a 24 años,Hijo/a,2006,"1.059,5"
96,Mujeres,De 25 a 29 años,Hijo/a,2021,"656,5"
97,Mujeres,De 25 a 29 años,Hijo/a,2020,"612,4"
98,Mujeres,De 25 a 29 años,Hijo/a,2019,"585,9"
99,Mujeres,De 25 a 29 años,Hijo/a,2018,"591,8"
100,Mujeres,De 25 a 29 años,Hijo/a,2017,"586,6"
101,Mujeres,De 25 a 29 años,Hijo/a,2016,"567,0"
102,Mujeres,De 25 a 29 años,Hijo/a,2015,"567,3"
103,Mujeres,De 25 a 29 años,Hijo/a,2014,"557,5"
104,Mujeres,De 25 a 29 años,Hijo/a,2013,"588,7"
105,Mujeres,De 25 a 29 años,Hijo/a,2012,"616,8"
106,Mujeres,De 25 a 29 años,Hijo/a,2011,"603,4"
107,Mujeres,De 25 a 29 años,Hijo/a,2010,"634,5"
108,Mujeres,De 25 a 29 años,Hijo/a,2009,"681,0"
109,Mujeres,De 25 a 29 años,Hijo/a,2008,"711,7"
110,Mujeres,De 25 a 29 años,Hijo/a,2007,"760,7"
111,Mujeres,De 25 a 29 años,Hijo/a,2006,"806,3"
112,Mujeres,De 30 a 34 años,Hijo/a,2021,"292,1"
113,Mujeres,De 30 a 34 años,Hijo/a,2020,"286,5"
114,Mujeres,De 30 a 34 años,Hijo/a,2019,"272,3"
115,Mujeres,De 30 a 34 años,Hijo/a,2018,"274,9"
116,Mujeres,De 30 a 34 años,Hijo/a,2017,"282,8"
117,Mujeres,De 30 a 34 años,Hijo/a,2016,"273,2"
118,Mujeres,De 30 a 34 años,Hijo/a,2015,"281,3"
119,Mujeres,De 30 a 34 años,Hijo/a,2014,"284,8"
120,Mujeres,De 30 a 34 años,Hijo/a,2013,"292,6"
121,Mujeres,De 30 a 34 años,Hijo/a,2012,"281,2"
122,Mujeres,De 30 a 34 años,Hijo/a,2011,"285,8"
123,Mujeres,De 30 a 34 años,Hijo/a,2010,"321,3"
124,Mujeres,De 30 a 34 años,Hijo/a,2009,"325,9"
125,Mujeres,De 30 a 34 años,Hijo/a,2008,"349,7"
126,Mujeres,De 30 a 34 años,Hijo/a,2007,"353,5"
127,Mujeres,De 30 a 34 años,Hijo/a,2006,"365,8"

In [33]:
años = [2007, 2020]

In [34]:
df_años = df_sucio[df_sucio['Periodo'].isin(años)]
df_años

,Sexo,Edad,Parentesco con la persona de referencia,Periodo,Total
1,Hombres,De 16 a 19 años,Hijo/a,2020,"946,6"
14,Hombres,De 16 a 19 años,Hijo/a,2007,"889,8"
17,Hombres,De 20 a 24 años,Hijo/a,2020,"1.065,4"
30,Hombres,De 20 a 24 años,Hijo/a,2007,"1.178,6"
33,Hombres,De 25 a 29 años,Hijo/a,2020,"821,0"
46,Hombres,De 25 a 29 años,Hijo/a,2007,"1.036,7"
49,Hombres,De 30 a 34 años,Hijo/a,2020,"440,5"
62,Hombres,De 30 a 34 años,Hijo/a,2007,"533,0"
65,Mujeres,De 16 a 19 años,Hijo/a,2020,"880,2"
78,Mujeres,De 16 a 19 años,Hijo/a,2007,"820,1"
81,Mujeres,De 20 a 24 años,Hijo/a,2020,"975,8"
94,Mujeres,De 20 a 24 años,Hijo/a,2007,"1.016,0"
97,Mujeres,De 25 a 29 años,Hijo/a,2020,"612,4"
110,Mujeres,De 25 a 29 años,Hijo/a,2007,"760,7"
113,Mujeres,De 30 a 34 años,Hijo/a,2020,"286,5"
126,Mujeres,De 30 a 34 años,Hijo/a,2007,"353,5"

In [35]:
df_años['Total'] = df_años['Total'].str.replace('.','')
df_años

C:\Users\anabe\AppData\Local\Temp/ipykernel_10348/4118057732.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_años['Total'] = df_años['Total'].str.replace('.','')
C:\Users\anabe\AppData\Local\Temp/ipykernel_10348/4118057732.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_años['Total'] = df_años['Total'].str.replace('.','')

,Sexo,Edad,Parentesco con la persona de referencia,Periodo,Total
1,Hombres,De 16 a 19 años,Hijo/a,2020,"946,6"
14,Hombres,De 16 a 19 años,Hijo/a,2007,"889,8"
17,Hombres,De 20 a 24 años,Hijo/a,2020,"1065,4"
30,Hombres,De 20 a 24 años,Hijo/a,2007,"1178,6"
33,Hombres,De 25 a 29 años,Hijo/a,2020,"821,0"
46,Hombres,De 25 a 29 años,Hijo/a,2007,"1036,7"
49,Hombres,De 30 a 34 años,Hijo/a,2020,"440,5"
62,Hombres,De 30 a 34 años,Hijo/a,2007,"533,0"
65,Mujeres,De 16 a 19 años,Hijo/a,2020,"880,2"
78,Mujeres,De 16 a 19 años,Hijo/a,2007,"820,1"
81,Mujeres,De 20 a 24 años,Hijo/a,2020,"975,8"
94,Mujeres,De 20 a 24 años,Hijo/a,2007,"1016,0"
97,Mujeres,De 25 a 29 años,Hijo/a,2020,"612,4"
110,Mujeres,De 25 a 29 años,Hijo/a,2007,"760,7"
113,Mujeres,De 30 a 34 años,Hijo/a,2020,"286,5"
126,Mujeres,De 30 a 34 años,Hijo/a,2007,"353,5"

In [36]:
df_años['Total'] = df_años['Total'].map(lambda x : x.replace(',','.')).astype(float)
df_años

C:\Users\anabe\AppData\Local\Temp/ipykernel_10348/4189853928.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_años['Total'] = df_años['Total'].map(lambda x : x.replace(',','.')).astype(float)

,Sexo,Edad,Parentesco con la persona de referencia,Periodo,Total
1,Hombres,De 16 a 19 años,Hijo/a,2020,946.6
14,Hombres,De 16 a 19 años,Hijo/a,2007,889.8
17,Hombres,De 20 a 24 años,Hijo/a,2020,1065.4
30,Hombres,De 20 a 24 años,Hijo/a,2007,1178.6
33,Hombres,De 25 a 29 años,Hijo/a,2020,821.0
46,Hombres,De 25 a 29 años,Hijo/a,2007,1036.7
49,Hombres,De 30 a 34 años,Hijo/a,2020,440.5
62,Hombres,De 30 a 34 años,Hijo/a,2007,533.0
65,Mujeres,De 16 a 19 años,Hijo/a,2020,880.2
78,Mujeres,De 16 a 19 años,Hijo/a,2007,820.1
81,Mujeres,De 20 a 24 años,Hijo/a,2020,975.8
94,Mujeres,De 20 a 24 años,Hijo/a,2007,1016.0
97,Mujeres,De 25 a 29 años,Hijo/a,2020,612.4
110,Mujeres,De 25 a 29 años,Hijo/a,2007,760.7
113,Mujeres,De 30 a 34 años,Hijo/a,2020,286.5
126,Mujeres,De 30 a 34 años,Hijo/a,2007,353.5

In [53]:
df_agrupado = df_años.groupby(by = ['Periodo', 'Sexo'], as_index = False).median()
df_agrupado

   Periodo     Sexo   Total
0     2007  Hombres  963.25
1     2007  Mujeres  790.40
2     2020  Hombres  883.80
3     2020  Mujeres  746.30

In [56]:
df_agrupado['Total'] = df_agrupado['Total'] * 100
df_agrupado

   Periodo     Sexo     Total
0     2007  Hombres  963250.0
1     2007  Mujeres  790400.0
2     2020  Hombres  883800.0
3     2020  Mujeres  746300.0

In [58]:
df_agrupado['Total'] = df_agrupado['Total'].astype(int)
df_agrupado

   Periodo     Sexo   Total
0     2007  Hombres  963250
1     2007  Mujeres  790400
2     2020  Hombres  883800
3     2020  Mujeres  746300