In [1]:
import pandas as pd
import numpy as np

In [2]:
df_sucio = pd.read_csv('sobrecualificacion_(graduados_universitarios_2013-2014_con_trabajo_en_2019).csv', encoding = 'latin1', sep=';')

In [3]:
df_sucio['Total'] = df_sucio['Total'].map(lambda x: x.replace(',', '.'))

In [4]:
df_sucio['Total'] = df_sucio['Total'].astype(float)

In [5]:
df_sucio = df_sucio.groupby(by = ['Sexo', 'Nivel de formación más apropiado para realizar su trabajo'], as_index = False).mean()

In [6]:
df_sucio

       Sexo Nivel de formación más apropiado para realizar su trabajo  Total
0   Hombres                                          Doctorado          2.45
1   Hombres                                  ESO, EGB, etc ...          3.35
2   Hombres                       Formación profesional básica          1.80
3   Hombres  Formación profesional de grado medio / bachill...          4.50
4   Hombres            Formación profesional de grado superior          9.20
5   Hombres                                             Máster         22.90
6   Hombres  Título universitario (excepto doctorado o máster)         55.80
7   Mujeres                                          Doctorado          1.70
8   Mujeres                                  ESO, EGB, etc ...          4.05
9   Mujeres                       Formación profesional básica          2.35
10  Mujeres  Formación profesional de grado medio / bachill...          5.05
11  Mujeres            Formación profesional de grado superior         10.25
12  Mujeres                                             Máster         18.20
13  Mujeres  Título universitario (excepto doctorado o máster)         58.40

In [7]:
mas_nivel = ['ESO, EGB, etc ...', 'Formación profesional básica', 'Formación profesional de grado medio / bachillerato', 'Formación profesional de grado superior']

In [8]:
menos_nivel = ['Máster', 'Doctorado']

In [9]:
igual_nivel = ['Título universitario (excepto doctorado o máster)']

In [10]:
df_mas_nivel = df_sucio[df_sucio['Nivel de formación más apropiado para realizar su trabajo'].isin(mas_nivel)]

In [11]:
df_mas_nivel = df_mas_nivel.groupby(by = ['Sexo'], as_index = False).mean()
df_mas_nivel

      Sexo   Total
0  Hombres  4.7125
1  Mujeres  5.4250

In [12]:
df_menos_nivel = df_sucio[df_sucio['Nivel de formación más apropiado para realizar su trabajo'].isin(menos_nivel)]

In [13]:
df_menos_nivel = df_menos_nivel.groupby(by = ['Sexo'], as_index = False).mean()
df_menos_nivel

      Sexo   Total
0  Hombres  12.675
1  Mujeres   9.950

In [14]:
df_igual_nivel = df_sucio[df_sucio['Nivel de formación más apropiado para realizar su trabajo'].isin(igual_nivel)]

In [15]:
df_igual_nivel = df_igual_nivel.groupby(by = ['Sexo'], as_index = False).mean()
df_igual_nivel

      Sexo  Total
0  Hombres   55.8
1  Mujeres   58.4

In [16]:
d = ['Nivel más bajo', 'Nivel más bajo', 'Nivel más alto', 'Nivel más alto', 'Nivel apropiado', 'Nivel apropiado']

In [17]:
frames = [df_menos_nivel, df_mas_nivel, df_igual_nivel]

In [18]:
result = pd.concat(frames)
result

      Sexo    Total
0  Hombres  12.6750
1  Mujeres   9.9500
0  Hombres   4.7125
1  Mujeres   5.4250
0  Hombres  55.8000
1  Mujeres  58.4000

In [19]:
result['Nivel de formación más apropiado para realizar su trabajo'] = d

In [20]:
result

      Sexo    Total Nivel de formación más apropiado para realizar su trabajo
0  Hombres  12.6750                                     Nivel más bajo
1  Mujeres   9.9500                                     Nivel más bajo
0  Hombres   4.7125                                     Nivel más alto
1  Mujeres   5.4250                                     Nivel más alto
0  Hombres  55.8000                                    Nivel apropiado
1  Mujeres  58.4000                                    Nivel apropiado